<md-content layout="row" layout-align="center center" layout-padding layout-margin layout-fill>
    <md-whiteframe flex-sm="90" flex-md="50" flex="30" class="md-whiteframe-z1">
        <form name="loginForm" ng-submit="loginCtrl.login()">
            <md-input-container>
                <label>Email</label>
                <input md-maxlength="50" required name="email" ng-model="loginCtrl.email">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="loginCtrl.password" required md-maxlength="50">
            </md-input-container>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button type="submit" flex class="md-raised md-primary">Login</md-button>
            </section>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button flex class="md-raised" ui-sref="signup">New here? Signup with us!</md-button>
            </section>
        </form>
    </md-whiteframe>
</md-content>
