<md-content layout="row" layout-align="center center" layout-padding layout-margin layout-fill>
    <md-whiteframe flex-sm="90" flex-md="50" flex="30" class="md-whiteframe-z1">
        <form name="changePasswordForm" ng-submit="changePWCtrl.changePassword()">
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="changePWCtrl.password" required md-maxlength="50" ng-change="changePWCtrl.passwordsChanged()">
            </md-input-container>
            <md-input-container>
                <label>Retype Password</label>
                <input type="password" name="retypedPassword" ng-model="changePWCtrl.retypedPassword" required md-maxlength="50" ng-change="changePWCtrl.passwordsChanged()">
                <div ng-messages="changePasswordForm.retypedPassword.$error">
                    <div ng-message="mismatch" ng-show="changePWCtrl.password !== changePWCtrl.retypedPassword">The passwords you typed mismatch.</div>
                </div>
            </md-input-container>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button type="submit" flex class="md-raised md-primary">Change Password</md-button>
            </section>
        </form>
    </md-whiteframe>
</md-content>
